<app-nav (dashboardClicked)="getmaindashboard()" (resetClicked)="getResetpage()" (logoutClicked)="logout()"></app-nav>

<main style="margin-top:50px;background-color:#fbfbfb" *ngIf="tableView">
  <div class="container pt-4">
    <section class="mt-3">
      <div class="row">

        <!-- Wallet Card -->
        <div class="col-xl-6 col-sm-6 col-12 mb-4">
          <div class="card h-100 text-white card-grad">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="d-flex justify-content-between flex-wrap">
                <div>
                  <h5 class="mb-2">Wallet-Details</h5>
                  <h3 class="mb-3" style="letter-spacing: 2px;">{{userDetailsvalue?.cardNo}}</h3>
                  <p class="mb-1">Card Holder</p>
                  <h5 class="mb-0" style="text-transform: capitalize;">
                    {{userDetailsvalue?.firstname}} {{userDetailsvalue?.lastname}}
                  </h5>
                </div>
                <div class="align-self-center">
                  <i class="bx bxs-credit-card fontIcon" style="font-size: 48px;"></i>
                </div>
              </div>
              <div class="mt-4 row text-center">
                <div class="col-4">
                  <p class="mb-0">Valid Thru</p>
                  <h6>{{userDetailsvalue?.ExDate}}</h6>
                </div>
                <div class="col-4">
                  <p class="mb-0">CVV</p>
                  <h6>{{userDetailsvalue?.Cvv}}</h6>
                </div>
                <div class="col-4">
                  <p class="mb-0">Balance</p>
                  <h6>₹ {{balanceValue}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Doughnut Chart Card -->
        <div class="col-xl-4 col-sm-6 col-12 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <h5 class="mb-1 text-muted">Asset Allocation</h5>
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                  <div>
                    <h2 class="mb-0 fw-bold">₹ {{totalAssetValue}}</h2>
                  </div>
                  <div style="position: relative; width: 150px; height: 150px;">
                    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions" [legend]="false" [type]="'doughnut'" class="w-100"></canvas>
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 14px; font-weight: bold;">
                      {{ assetPercentage }}%<br />
                      <span class="text-muted" style="font-size: 12px;">{{ frequency }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3 flex-wrap">
                <div *ngFor="let label of doughnutChartLabels | filter: globalSearchTerm; let i = index" class="d-flex align-items-center me-3 mb-2">
                  <span class="me-2 rounded-squre d-inline-block" style="width:12px; height:12px;" [style.background-color]="getColor(i)"></span>
                  <span class="text-muted">{{ label }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Performance Card -->
        <div class="col-xl-2 col-sm-6 col-12 mb-4">
          <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-between">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-1 text-muted">Performance</h5>
              </div>
              <div class="d-flex align-items-center DateIcon">
                <i class="bx bx-calendar me-1" style="font-size:20px;"></i>
                <span style="font-size: 16px;">{{dailyPerformance.date | date: 'dd-MM-yyyy' }}</span>
              </div>
              <div class="d-flex flex-column mt-3">
                <div *ngFor="let label of performanceMatreics | filter: globalSearchTerm; let i = index" class="d-flex align-items-center justify-content-between mb-2">
                  <div class="d-flex align-items-center">
                    <span class="me-2 rounded-circle d-inline-block" style="width:12px; height:12px;" [style.background-color]="getPerformanceColor(i)"></span>
                    <span class="text-muted me-1">{{ label }}</span>
                    <i class="bx bx-trending-up" style="font-size: 16px;" [style.color]="getPerformanceValue(label) === 0 ? 'red' : 'green'"></i>
                  </div>
                  <span class="badge text-black" style="font-weight: bold; font-size: 12px;" [style.background-color]="getPerformanceColor(i)">
                    +{{ getPerformanceValue(label) }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <app-asset-card icon="bx bx-money-withdraw" iconColor="#04c2c2" [value]="propertyValue" label="Expense" [badgeValue]="getPercentage(investmentValue)" badgeColor="rgb(115 232 232)" borderStyle="3px solid #04c2c2"></app-asset-card>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <app-asset-card icon="bx bx-universal-access" iconColor="#7d07c1" [value]="investmentValue" label="Investment" [badgeValue]="getPercentage(investmentValue)" badgeColor="rgb(196 123 238)" borderStyle="3px solid #7d07c1"></app-asset-card>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <app-asset-card icon="bx bxs-landmark" iconColor="#c304c3" [value]="expenseValue" label="Property" [badgeValue]="getPercentage(expenseValue)" badgeColor="rgb(225 131 225)" borderStyle="3px solid #c304c3"></app-asset-card>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 mb-4">
          <app-asset-card icon="bx bxs-wallet-alt" iconColor="#046dd0" [value]="balanceValue" label="Balance" [badgeValue]="getPercentage(balanceValue)" badgeColor="rgb(96 168 237)" borderStyle="3px solid #046dd0"></app-asset-card>
        </div>
      </div>
    </section>

    <section class="mt-3">
      <div class="row">
        <app-chart-card></app-chart-card>
      </div>
    </section>
     <section class="mt-4">
      <div class="row">

        <!-- Left card with tabs and table -->
        <div class="col-xl-8 col-lg-8 col-md-12 mb-4">
          <div class="card shadow-5">
            <div class="card-header">
              <div class="d-flex flex-column flex-md-row justify-content-between align-items-center flex-wrap">

                <!-- Tabs -->
                <ul class="nav nav-tabs mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': selectedAsset === 'Stocks'}" (click)="clickTab('Stocks')">Stock</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': selectedAsset === 'Bonds'}" (click)="clickTab('Bonds')">Bonds</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': selectedAsset === 'Real Estate'}" (click)="clickTab('Real Estate')">Real Estate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': selectedAsset === 'Cash'}" (click)="clickTab('Cash')">Cash</a>
                  </li>
                </ul>

                <!-- Buttons -->
                <div class="mt-2 mt-md-0">
                  <button class="btn btn-primary me-2" style="background-color: #7d07c1; border: none;" (click)="ClickticketPage()">Investment</button>
                  <button class="btn btn-sucess" (click)="openPDF()">Download</button>
                </div>
              </div>

              <!-- Search -->
              <div class="mt-2">
                <input class="form-control inp" type="text" placeholder="Global Search" [(ngModel)]="search" />
              </div>
            </div>

            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-hover table-nowrap" id="excel-table">
                <thead class="thead-light">
                  <tr style="font-size: 18px; font-weight: bold;">
                    <th class="table_style">Id</th>
                    <th class="table_style">Date</th>
                    <th class="table_style">Asset Type</th>
                    <th class="table_style">Quantity</th>
                    <th class="table_style">Description</th>
                    <th class="table_style">Price</th>
                    <th class="table_style">Age &nbsp;<i class='bx bx-sort' style="font-size:20px" (click)="sortdate()"></i></th>
                  </tr>
                </thead>
                <tbody style="font-size:20px">
                  <tr *ngFor="let ticket of assetArr | filter:search | filter: globalSearchTerm | paginate:{itemsPerPage: tableSize, currentPage: page, totalItems: count}; index as i">
                    <th style="font-size:16px">{{ticket.id}}</th>
                    <td style="font-size:16px">{{ticket.date}}</td>
                    <td style="font-size:16px">{{ticket.Asset}}</td>
                    <td style="font-size:16px">{{ticket.Quantity}}</td>
                    <td style="font-size:16px">{{ticket.text}}</td>
                    <td style="font-size:16px">{{ticket.price}}</td>
                    <td>{{calculateDiff(ticket.date)}} {{hourTime(ticket.date)}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Footer -->
            <footer class="text-center text-lg-start bg-light text-muted">
              <section class="d-flex flex-column flex-md-row justify-content-center justify-content-lg-between p-4 border-top">
                <div class="mb-3 mb-md-0">
                  <p style="font-weight: bold; color: #0a70ca; font-size: 15px;">
                    Show Entry
                    <select (change)="sizeChange($event)" class="custom-select">
                      <option *ngFor="let data of size" [ngValue]="data">{{ data }}</option>
                    </select>
                  </p>
                </div>
                <div>
                  <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
                </div>
              </section>
            </footer>
          </div>
        </div>

        <!-- Right side expenses card -->
        <div class="col-xl-4 col-lg-4 col-md-12 mb-4">
          <div class="card list_Card">
            <div class="card-body p-0">
              <h5 class="text-center my-2 text-muted font-weight-bold">My Expenses</h5>

              <!-- Legend -->
              <div class="d-flex justify-content-around flex-wrap px-3 py-2">
                <div class="d-flex align-items-center me-2 mb-1">
                  <span class="legend-circle me-1" style="background-color: #26f7f0ff;"></span> Stocks
                </div>
                <div class="d-flex align-items-center me-2 mb-1">
                  <span class="legend-circle me-1" style="background-color: #ed8a48ff;"></span> Bonds
                </div>
                <div class="d-flex align-items-center mb-1">
                  <span class="legend-circle me-1" style="background-color: #8278f4ff;"></span> Real Estate
                </div>
                <div class="d-flex align-items-center me-2 mb-1">
                  <span class="legend-circle me-1" style="background-color: #f76356ff;"></span> Cash
                </div>
              </div>

              <!-- Calendar -->
              <div class="d-flex justify-content-between">
                <div class="align-self-center w-100">
                  <full-calendar [options]="calendarOptions" style="width: 100%; display: block;">
                    <ng-template #eventContent let-arg>
                      <p class="titleStyle">{{ arg.event.title }}</p>
                    </ng-template>
                  </full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</main>

<main style="margin-top: 68px;" *ngIf="resetPage">
  <div class="container pt-4">
    <section class="text-center">
      <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary">
        <div class="card-body py-5 px-md-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h3 class="fw-bold mb-3">Reset Password</h3>

              <form [formGroup]="passwordform">
                <!-- Old Password -->
                <div class="form-outline mb-4" style="margin-top:30px">
                  <label class="form-label labelStyle" for="form3Example3">Old Password</label>
                  <input type="email" id="form3Example3" class="form-control inputStyle" formControlName="oldpass" placeholder="Enter old Password" (keyup)="checkprevisouspass()" />
                  <div *ngIf="passwordform.controls['oldpass'].hasError('required') && passwordform.controls['oldpass'].touched" class="err">Password is Mandatory</div>
                  <div *ngIf="passwordcheck" class="err">Incorrect Password</div>
                </div>

                <!-- New Password -->
                <div class="form-outline mb-4" style="margin-top:30px">
                  <label class="form-label labelStyle" for="form3Example4">New Password</label>
                  <input type="password" id="form3Example4" class="form-control inputStyle" formControlName="newpass" placeholder="Enter New Password" />
                  <div *ngIf="passwordform.controls['newpass'].hasError('required') && passwordform.controls['newpass'].touched" class="err">New Password is Mandatory</div>
                  <div *ngIf="passwordform.controls['newpass'].hasError('minlength') && passwordform.controls['newpass'].touched" class="err">Minimum 3 Characters Required</div>
                  <div *ngIf="passwordform.controls['newpass'].hasError('maxlength') && passwordform.controls['newpass'].touched" class="err">Maximum 8 Characters Allowed</div>
                  <div *ngIf="passwordform.controls['newpass'].hasError('pattern') && passwordform.controls['newpass'].touched" class="err">Invalid Password</div>
                </div>

                <!-- Confirm Password -->
                <div class="form-outline mb-4" style="margin-top:30px">
                  <label class="form-label labelStyle" for="form3Example4">Confirm Password</label>
                  <input type="password" id="form3Example4" class="form-control inputStyle" formControlName="conpass" placeholder="Enter Confirm Password" (keyup)="checkPassword()" />
                  <div *ngIf="passwordform.controls['conpass'].hasError('required') && passwordform.controls['conpass'].touched" class="err">Retype Password is Mandatory</div>
                  <div *ngIf="passcon" class="err">Password Does Not Match</div>
                </div>

                <!-- Submit -->
                <button type="submit" class="btn BtnStyle mb-4" (click)="changepass()">Reset</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
  