.divider:after,
.divider:before {
content: "";
flex: 2;
height: 2px;
background:#e62656;
margin-top: 5px;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.bannerStyle
{
       background-color: #9687FA;
    height:100vh;
   background-image: radial-gradient(650px circle at 0% 0%,
    hsl(250, 80%, 90%) 15%,   /* very light purple */
    hsl(250, 80%, 80%) 35%,   /* light lavender */
    hsl(250, 71%, 74%) 75%,   /* light-medium purple */
    hsl(250, 87%, 73%) 80%,   /* medium purple */
    transparent 100%),
  radial-gradient(1250px circle at 100% 100%,
    hsl(250, 80%, 95%) 15%,   /* almost white lavender */
    hsl(250, 80%, 85%) 35%,   /* very light lavender */
    hsl(250, 80%, 75%) 75%,   /* light purple */
    hsl(250, 75%, 76%) 80%,   /* slightly deeper purple */
    transparent 100%);
}
.cardStyle
{
    height:500px;
    border: 5px solid #ad1fff !important;
    border-radius: 20px;
    background-color: #eee;
    margin-top:50px;
}
.imgStyle
{
    width: 366px;
    margin-left: 200px;
}
/* For tablets and below */
@media (max-width: 991px) {
  .imgStyle {
    margin-left: 0;
    width: 100%; /* Optional: make it responsive */
  }
}

/* For mobile devices */
@media (max-width: 576px) {
  .imgStyle {
    margin-left: 0;
    width: 100%; /* Optional: full width on mobile */
  }
}
.logoStyle
{
    color: #ad1fff;
    text-align: center;
}
.inputStyle
{
    border: 2px solid #ad1fff !important;
}
.captchaStyle
{
    border-left: 2px solid #ad1fff !important;
    border-top: 2px solid #ad1fff !important;
    border-bottom: 2px solid #ad1fff !important;
}
.captchaField
{
    height:40px;
  border: 2px solid #ad1fff;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    background-color: #fff;
    color: #ad1fff;
    font-weight: 500;
}
.referBtn
{
    background-color: #ddb2f6;
   border: 2px solid #ad1fff;
    margin-left: 3px;
    height: 40px;
}
  .BtnStyle
{
    background-color: #ad1fff;
    border: 3px solid #ad1fff !important;
    height: 40px;
    width:150px;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
}
.err
{
  color: red;
  font-weight: bold;
  margin-top: 2px;

}
.BtnotpStyle
{
    border: 3px solid #00573F !important;
    background-color: #ACE1AF;
    font-size:16px;
    color:#00573F;
    font-weight:bold;
    margin-top:25px
}